<div class="main">
    <section class="signup">
      <div class="container">
        <div class="signup-content">
          <div class="signup-form">
            <div *ngIf="isLoading" class="loading-overlay">
              <div class="spinner"></div>
            </div>
            <h2 class="text-center">تغير كلمة المرور</h2>
           
            <form method="POST" [formGroup]="resetPassordForm" class="register-form" id="register-form" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="pass"><i class='fas fa-lock'></i></label>
                <input type="password" name="password" id="pass" placeholder=" ادخل الرقم السري الجديد" 
                  formControlName="password" />
                <div *ngIf="apiErrors['password']" class="error-message">{{ apiErrors['password'] }}</div>
                @if(formControls['password'].invalid && formControls['password'].touched) {
                  @if(formControls['password'].hasError('required')) {
                    <div class="error-message">الرقم السري مطلوب</div>
                  }
                  @else if (formControls['password'].hasError('minlength')) {
                    <div class="error-message">كلمة المرور يجب أن تحتوي على حرف كبير، حرف صغير، رقم، وأن تكون على الأقل 8 أحرف</div>
                  }
                }
              </div>
              <div class="form-group">
                <label for="re-pass"><i class='fas fa-lock'></i></label>
                <input type="password" name="confirmPassword" id="re_pass" placeholder="تأكيد الرقم السري"
                  formControlName="confirmPassword" />
                <div *ngIf="apiErrors['confirmPassword']" class="error-message">{{ apiErrors['confirmPassword'] }}</div>
                @if(formControls['confirmPassword'].invalid && formControls['confirmPassword'].touched) {
                  @if(formControls['confirmPassword'].hasError('required')) {
                    <div class="error-message">يجب تأكيد الرقم السري</div>
                  }
                 }
              </div>
              <div *ngIf="apiErrors['general']" class="error-message">{{ apiErrors['general'] }}</div>
              <div class="form-group form-button-container">
                <input type="submit" name="signup" id="signup" class="form-submit" value="تأكيد" />
              </div>
            </form>
          </div>

        </div>
      </div>
    </section>
  </div>