<div class="channel-details-container">
  <img [src]="channel?.image" alt="صورة القناة"  class="detail-img" />
  <h2>{{ channel?.name }}</h2>
  <p class="owner">بواسطة: {{ channel?.owner.userName }}</p>
  <p class="desc">{{ channel?.description }}</p>

  <button class="subscribe-btn">اشترك</button>

  <h3>القصص الخاصة بالقناة</h3>
  <div class="stories-container">
    <div class="story-card" *ngFor="let story of stories">
      <img [src]="story.image" class="story-img" alt="صورة القصة" />
      <div class="story-content">
        <h4>{{ story.name }}</h4>
        <p>{{ story.description }}</p>
        <button (click)="goToStory(story.id)">اقرأ</button>
      </div>
    </div>
  </div>
</div>
