<div class="card-grid-container">
  <div class="channel-card" *ngFor="let channel of channels" (click)="goToDetails(channel.id)">
    <img [src]="channel.image" alt="صورة القناة" class="channel-img" />
    <div class="card-content">
      <h3>{{ channel.name }}</h3>
      <p class="owner">بواسطة: {{ channel.owner.userName }}</p>
      <p class="desc">{{ channel.description }}</p>
    </div>
    <div class="card-buttons">
      <button class="subscribe-btn" >اشترك</button>
    </div>
  </div>
</div>
