<div class="main">
    <section class="signup">
      <div class="container">
        <div class="signup-content">
          <div class="signup-form">
            <div *ngIf="isLoading" class="loading-overlay">
              <div class="spinner"></div>
            </div>
  
            <h2 class="text-center">يُرجى إدخال البريد الإلكتروني</h2>
            
            <form method="POST" [formGroup]="emailForm" class="login-form" id="register-form" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email"><i class="material-icons">email</i></label>
                <input type="email" name="email" id="email" placeholder="ادخل بريدك الإلكتروني" formControlName="email" />
                <div *ngIf="apiErrors['email']" class="error-message">{{ apiErrors['email'] }}</div>
  
                <div *ngIf="formControls['email'].invalid && formControls['email'].touched">
                  <div *ngIf="formControls['email'].hasError('required')" class="error-message">
                    البريد الإلكتروني مطلوب
                  </div>
                  <div *ngIf="formControls['email'].hasError('email')" class="error-message">
                    ادخل البريد الإلكتروني بشكل صحيح
                  </div>
                </div>
              </div>
              <div *ngIf="apiErrors['general']" class="error-message">{{ apiErrors['general'] }}</div>
  
              <div class="form-group form-button-container">
                <input type="submit" name="signIn" id="signIn" class="form-submit" value="إرسال" />              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
  