.save-button {
  border: none;
  background: none;
  transition: transform 0.2s ease;
}
.save-button:hover {
  transform: scale(1.1);
}

.interaction-buttons {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 1.1rem;
}

.interaction-btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  color: #2c3e50;
  cursor: pointer;
  transition: color 0.2s ease;
}
.interaction-btn:hover i {
  color: #A27B5C;
}

.view-count {
  font-size: 1rem;
  color: #555;
}

.modern-audio {
  background-color: #f8f9fa;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.actions .download-link {
  text-decoration: none;
  background-color: white;
  color: #A27B5C;
  border: 1px solid #A27B5C;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-weight: 500;
}
.actions .download-link:hover {
  background-color: #A27B5C;
  color: white;
}
.rating-star {
  font-size: 2rem;
  color: #e2c20b;
  cursor: pointer;
  transition: transform 0.2s;
  margin-left: 5px;
}
